@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: normal;
    src: url(../fonts/ptsans-400.woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: normal;
    src: url(../fonts/ptsans-700.woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: #e4e2e2;
}

.button {
    font-family: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
}

.button-social {
    font-family: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #82b3d3;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
}

.button-want-here {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.welcome-sedona {
    background-image: url(/images/welcome.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.about-sedona {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.advantage-sedona {
    background: #82b3d3;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.advantages-number
.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantage-item {
    background: rgba(131, 179, 211, 0.12);
}

.advantage-second {
    background: #ffffff;
}

.search-hotel-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.subscribe {
    background-image: url(../images/subscribe.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-info {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}

.button-subscribe {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}

.footer-contacts-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}